*{
    padding: 0;
    margin: 0;
}
body{
    min-height: calc(100vh - 60px);
    width: 100%;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.navbar{
    position: fixed;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    background: black;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.navbar .navbar-left, .navbar-right{
    padding: 10px;
}
.navbar .navbar-left .navbar-item, .navbar .navbar-right .navbar-item{
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

/* Footer */

.footer{
    background-color: #ccc;
    padding: 20px;
}

/* Content */

.wrapper{
    position: relative;
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 60px;
    
}

.center{
    text-align: center;
}

/* Form */

.form-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
}

.error{
    color: #ac2323;
}